# 项目名称-eatit 意为今天吃什么

# 项目描述
这是一个用来查看今天吃什么的网页端小程序，用户可以查看今天吃什么，也可以自己添加今天吃什么。
同时，用户可以通过食材关键词来检索相应的食谱。


# 项目功能
首页：系统会随机推荐一个食谱，用户可以点击进入详情页，能查看食谱的食材、做法、营养成分等信息。
详情页：记录食谱的食材、做法、营养成分等信息，同时底部有个“菜品搭配”按钮，点击后会根据关系去推荐菜品。比如：红烧肉 可以推荐白灼西兰花，搭配起来营养健康
搜索页：用户可以输入食材关键词，系统会根据食材关键词去推荐食谱。

# 项目技术栈
尽量使用Vue3.js+ElementPlus+Pinia+Vite